# Supabase - Búscalos en Settings -> API en tu panel de Supabase
VITE_SUPABASE_URL=https://mrrhqovzyqgfhrtlsbuh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_CGHrIcmENpgpmGacuue4gA_7NqemWJN

# TMDB - Los datos que obtuviste en la última imagen
VITE_TMDB_API_KEY=e8afb0ce709a38835aa8ee49acb4e16e
VITE_TMDB_BASE_URL=https://api.themoviedb.org/3
VITE_TMDB_IMAGE_BASE=https://image.tmdb.org/t/p

# Token de Acceso (Opcional pero recomendado para mayor seguridad)
VITE_TMDB_ACCESS_TOKEN=eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJlOGFmYjBjZTcwOWEzODgzNWFhOGVlNDlhY2I0ZTE2ZSIsIm5iZiI6MTc3MjMwMTE1MC4zNDA5OTk4LCJzdWIiOiI2OWEzMmI1ZTZhZTJkMmMyNGVjMTcwYzYiLCJzY29wZXMiOlsiYXBpX3JlYWQiXSwidmVyc2lvbiI6MX0.iqcwu2xw1m7i6GYBU9-SoeULSUTaKpEkbjnMKh2-ADE